.navbar {
  background-color: #38353c;
  position: absolute;
  top: 0;
  opacity: .8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    padding-left: 18px;
  }

  button {
    margin-right: 20px;
  }
}
